# Игнорировать все файлы и папки
/*
!.gitignore
!README.md

# Не игнорировать папку плагина и её содержимое
!/wp-content/plugins/
!/wp-content/plugins/wp-my-product-webspark/
!/wp-content/plugins/wp-my-product-webspark/**